<!Doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
  <script src="assets/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <link rel="shortcut icon" type="image/ico" href="images/favicon.gif" />
  <link rel="stylesheet" href="assets/screen.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets/lightbox.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets/screen.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="assets/lightbox.css" type="text/css" media="screen" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <script>
      $(function() {
          $( "#accordion" ).accordion();
      });
  </script>
</head>
<body>
    <h2>History of popular watches</h2>

    <div>
      <ul class="slideshow">


        <li> <%= link_to(image_tag("watchLogo.jpg", :alt => "We sell the most popular watches", :title => "Home"), "/") %></li>
        <li> <%= link_to(image_tag("diesel.jpg", :alt => "check out new 2014 catalogue", :title => "Home"), "/") %></li>
        <li> <%= link_to(image_tag("th.jpg", :alt => "Omega check out new mens design", :title => "Home"), "/") %></li>
        <li> <%= link_to(image_tag("slide 1.png", :alt => "Bretling History Maker", :title => "Home"), "/") %></li>
        <li> <%= link_to(image_tag("image 2.jpg", :alt => "Accurist most affordable choice", :title => "Home"), "/") %></li>
        <li> <%= link_to(image_tag("image slide 3.jpg", :alt => "Tag-Huerer relability", :title => "Home"), "/") %></li>

      </ul>

    </div>
<div id="accordion">
  <h3>Section 1 Eberhard </h3>
  <div>


    <a href="assets/eberhard-image-2.jpg" rel="lightbox" title="Best seller Eberhard."><img src="assets/eberhard-extra-fort-eb1363P_110x129.jpg" alt="" /></a>

    <p>
      Eberhard founded his company, then called Manufacture d'Horologie Eberhard & Co. The business was established in the town of La Chaux de Fonds. The company's first ever pocket watch was a success and with that success, the name Eberhard became an instant household brand for the illustrious members of society. His watches are known for precision quality and impeccable craftsmanship, making his brand truly remarkable even if they just started out. The company has a mission to mix innovation with tradition and for more than 100 years, this has been the enduring motto of the Eberhard enterprise that we can still see up to this day
    </p>
  </div>
  <h3>Section 2 Breitling </h3>
  <div>
    <a href="assets/Breitling-chronomat-br15070_large.jpg" rel="lightbox" title="Best seller Eberhard."><img src="assets/breitling-chronomat-br15070_110x129.jpg" alt="" /></a>
    <p>
      The life of the Breitling Chronomat began in 1940 with the application for a Swiss government patent for an innovative circular slide rule to be used in conjunction with a wrist chronograph. The first Chronomats were then manufactured and sold in 1941/42. Later, in the 1950's, the outstanding success of the Chronomat inspired the birth of the Navitimer, a chronograph with its slide rule modelled after the E6B circular slide rule used by pilots.

      The Chronomat went on to be produced in many forms including a version of the first-ever automatic chronograph watch in the late 1960's and even a quartz non-chronograph during the 1970's.

      In 1978 all watch production ceased at Breitling. The company was put up for sale and bought by Mr Ernest Schneider in 1979. From 1980 new Breitling models began to be released but it was not until 1984 that the Chronomat reappeared - as a completely different watch, now designed for pilots. This was the forerunner of all modern Chronomats up to the present day.

      The Chronomat has remained one of Breitling's most successful watches for over sixty years and has in recent years proved to be Breitling's biggest seller.
  </div>
  <h3>Section 3 Rolex</h3>
  <div>
    <a href="assets/rolex-datejust-ro15198_w329.jpg" rel="lightbox" title="Best seller Eberhard."><img src="assets/rolex-datejust-ro15198_w329 small.jpg" alt="" /></a>
    <p>
      What is considered a status symbol will differ among countries and cultural regions, based on their economic and technological development. As with other symbols, status symbols may change in value or meaning over time. For example, before the invention of the printing press, possession of a large collection of books was considered a status symbol. In later centuries, books (and literacy) became more common among average citizens, so a private library became less-rarefied as a status symbol. Another common status symbol of the European medieval past was heraldry, a display of one's family name and history. In some past cultures of East Asia, pearls and jade were major status symbols, reserved exclusively for royalty. A state decoration can show that the wearer has heroic or official status, and diverse visual markers of marital status are widely used.
    </p>

  </div>
  <h3>Section 4 Tissot</h3>

  <div>
    <a href="assets/tissot big.jpg" rel="lightbox" title="Best seller Eberhard."><img src="assets/tissot small.jpg" alt="" /></a>
    <p>
      Tissot was founded in 1853 by Charles-Félicien Tissot and his son Charles-Émile Tissot in the Swiss city of Le Locle, in the Neuchâtel area of the Jura Mountains.[2]
      Tissot introduced the first mass-produced pocket watch and the first pocket watch with two time zones in 1853[1] and the first anti-magnetic watch in 1929-30. Charles-Emile Tissot left for Russia in 1858 and succeeded in selling their savonnette pocket watches across the Russian Empire.[1] The Tissot company was also the first to make watches out of plastic (IDEA 2001 in 1971), stone (the Alpine granite Rock watch in 1985), mother of pearl (the Pearl watch in 1987), and wood (the Wood watch in 1988).[2] Tissot merged with the Omega watch making family in 1930 and Tissot-Omega watches from this era are sought after by collectors. Tissot's parent company The Swatch Group define Tissot as a "mid-range" brand.[3]
      Still based in Le Locle, Switzerland and marketed in 160 countries around the world, Tissot has been a member of The Swatch Group Ltd., the largest watch producer and distributor in the world, since 1983.[4]ptos himenaeos.
    </p>
  </div>
</div>


</body>
</html>